.vscode/*
report_pres/cs446_final_proposal.aux
report_pres/cs446_final_proposal.fdb_latexmk
report_pres/cs446_final_proposal.fls
report_pres/cs446_final_proposal.log
report_pres/cs446_final_proposal.pdf
report_pres/cs446_final_proposal.synctex.gz
report_pres/cs446_final_proposal.out
